body {
  background-color: lightgrey;
  margin: 0;

}

button {
color: #F18157;
background-color: antiquewhite;
border: 0px;
padding: 10px 50px 10px 50px;
font-weight: 800;
border-radius: 30px;
}



.content {
width: 500px;
margin: auto;
text-align: center;
padding: 125px 19px;
background-color: white;
}

footer {
padding: auto;
background-color: #374245;
font-family: Helvetica, sans-serif;
text-align: left;

}

footer ul{
vertical-align: text-top;
width: auto;

}

footer li, .inline-block li{
  font-weight: bold;
  padding: 0px 10px 10px 0px;
  display: inline-block;
  
}

.footer-text {
  width: 40%;
  display: inline-block;

}

.footer-text-body {
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  text-align: left;
  color: #FFFFFF;
  width: 40%;
  margin: 100px;
  display: inline-block;

}
.governmentapp1 {
height: 500px;
width: 40%

}

header {
  background-color: #373738;
}

.heroImg {
height: 600px;
padding: 25px;

}

h1 {
font-size: 75px;
  font-family: Helvetica, sans-serif;
}

h3 {
color: #F18157;
font-family: Helvetica, sans-serif;
font-size: 15px;

}

h4 {
  color: #374245;
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  
  }

h5 {
    color: #F2CBBD;
    font-size: 117.5px;
    font-family: Helvetica, sans-serif;
    
    }

h6 {
  color:#F18157;
  font-size: 100px;
  font-family: Helvetica, sans-serif;
  margin: 0px;
 

}



.inline-block,.inline-block li{
display: inline-block;
vertical-align: top;

}


.logo {
width: 300px;
padding: 19px;
float: left;
background-color: #374245;

}

.mySkillsLeft{
  width: 40%;
  display: inline-block;
}

.mySkillsRight{
  width: 40%;
  display: inline-block
}

nav {
padding: 16px;
background-color: #374245;
float: right;
font-family: Helvetica, sans-serif;
}

.navigation {
overflow: hidden;
background-color: #374245;

}

.projects1 {
background-color: #F18157;
color: #FFFFFF;
width: 300px;
height: 300px;
padding: 3px 50px 5px 50px;
text-align: center;

}

.projects2 {
background-color: #F2CBBD;
color: #FFFFFF;
width: 300px;
height: 300px;
padding: 3px 50px 5px 50px;
text-align: center;
}

.projects3 {
background-color: #374245;
color: #FFFFFF;
width: 300px;
height: 300px;
padding: 3px 50px 5px 50px;
text-align: center;

}

.projects4 {


}

.sitemap {
  background-color: #ffffff;

}.sherayface {
height: 150px;
 
}

ul {
margin: 0;
color: white;
}

.works {
height: 500px;
margin-top: -150px;
margin-left: -100px;


}

.works1 {
height: 550px;
width:100%;
align-content: center;
padding: 3px 50px 5px 50px;

}
.workGrid {
display:grid;
height: 400px;
padding: 150px 50px 50px 50px;
grid-template-columns: auto auto auto;
align-content: start;
grid-gap: 50px;
background-color: #ffffff;
}


.wireframe-image {
padding: 3px 50px 5px 50px;
background-color: #ffffff;
}






















@media only screen and (max-width: 600) {

  
}

